<div class="row footer">
  <div class="col-sm-8 col-sm-offset-2" style="padding:10px 0;">
    <p>
      Icons by <a href="http://www.smashingmagazine.com/2010/12/23/free-icon-set-for-web-developers-coded/">Thomas McGee at Smashing Magazine</a>.

      Photo by <a href="https://www.facebook.com/pages/Alton-Sun-Photography/51911616476">Alton Sun Photography</a>.

      Design inspired by <a href="http://themeforest.net/item/perfectcv-responsive-bootstrap-cv-resume/4102616">PerfectCV</a>.

      Site created using <a href="https://github.com/winton/stasis">stasis</a>.

      All copyrights and trademarks mentioned above copyright and trademark their respective owners. © 2013 by Brian Bugh.
    </p>
  </div>
</div>