<div id="contact" class="row headline personal-info">
  <div class="col-sm-12">
    <h1>Contact me!</h1>
  </div>
</div>

<div class="row personal-info row-divider">
  <div class="col-sm-2" style="padding-right:0">
    <img src="/images/facebookpreview.jpg" style="max-width:100%;border:5px solid white">
  </div>
  <div class="col-sm-6 content">
  <p>Available for contract mentoring and business advising.
  </p><p>Are you a funded startup or mid-sized companies solving exciting problems in social justice or environmental impact?</p>
  <p>Contact me!</p>
  </div>
  <div class="col-sm-4">
    <div class="contact-method">
      <span class="glyphicon glyphicon-envelope"></span>
      <a href="mailto:contact@brianbugh.me">contact@brianbugh.me</a>
    </div>
    <div class="contact-method">
      <span class="glyphicon glyphicon-map-marker"></span>
      <a>San Francisco, CA</a>
    </div>
  </div>
</div>