$text-color: #1B1B1B;
$inverse-text-color: #FAFAFA;

$font-size-base: 17px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;

$jumbotron-color: white;

$programming-color: #57B4D7;
$education-color: #41D6B7;
$public-speaking-color: #FB4473;

$headings-font-family: "Montserrat";

$social-color-facebook: #3b5998;
$social-color-twitter: #55ACEE;
$social-color-github: #444444;
$social-color-linkedin: #007BB6;

@import "bootstrap/variables";
